.menu-mobile {
    display: none;
}

.footer-menu-mobile {
    background-color: white;
    display: none;
    width: 100%;
    padding: 10px;

    position: fixed;
    bottom: 0;
    left: 0;
}

@media(max-width:935px) {
    .container, .container-menu {
        width: 100%;
    }

    .main {
        margin: 0 auto;
    }
    .sidebar {
        display: none;
    }
}

@media(max-width:614px) {
    .container, .main {
        width: 100%;
    }
    .container-menu {
        display: none;
    }
    .menu-mobile {
        display: flex;
    }
    .footer-menu-mobile {
        display: flex;
        justify-content: space-between;
    }
}