* {
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
}

.flex-spacebetween-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ion-icon {
    width: 22px;
    height: 22px;
}

.header {
    background-color: white;
    height: 54px;
    border: 1px solid #DBDBDB;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

}

.container-menu {
    background-color: white;
    width: 935px;
    height: 52px;
    margin: 0 auto;
    padding: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 150px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.campo_busca {
    background-color: #fafafa;
    color: #979797;
    width: 215px;
    height: 28px;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
}

.campo_busca::placeholder {
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #979797;
}

.opcoes {
    width: 150px;
}

.container {
    width: 935px;
    margin: 0 auto;
    margin-top: 88px;

    display: flex;
}

.main {
    width: 614px;
}

.stories {
    background-color: white;
    width: 100%;
    height: 118px;
    border: 1px solid #DBDBDB;
    padding: 10px;

    position: relative;
}

.story {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-story {
    background-image: url("../img/stories_background.jpg");
    background-size: cover;
    width: 66px;
    height: 66px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.stories ion-icon {
    width: 32px;
    height: 32px;
    color: white;
    filter: drop-shadow(0px 4px 4px gray);

    position: absolute;
    top: 40px;
    right: 5px;
    z-index: 2;
}

.timeline {
    width: 100%;
    margin-top: 24px;
}

.post {
    background-color: white;
    border: 1px solid #DBDBDB;
    margin-bottom: 60px;
}

.post .cab {
    height: 82px;
    padding: 0 15px;
}

.post .cab img {
    width: 32px;
    height: 32px;
}

.cab > div {
    width: 100px;
}

.post > img {
    width: 100%;
}

.post .footer {
    height: 60px;
    padding: 0 15px;
}

.sidebar {
    width: 321px;
}

.info {
    font-weight: 400;
    font-size: 11px;
    color: #C7C7C7;
    margin: 15px 25px;
}

.copyright {
    font-weight: 400;
    font-size: 11px;
    color: #C7C7C7;
    margin: 0 25px;  
}

.sidebar > div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.sidebar > div:nth-child(3) {
    padding: 25px;
}

.imagem-perfil-sugestao {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.perfil {
    display: flex;
    align-items: center;
    padding: 25px;
}

.perfil > div p:nth-child(1) {
    color: #262626;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}

.perfil > div p:nth-child(2) {
    color: #8E8E8E;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}

.perfil > img {
    margin-right: 10px;
}

.perfil-sugestao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.nickname-sugestao-perfil {
    color: #262626;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
}

.status-sugestao-perfil {
    color: #8E8E8E;
    font-size: 12px;
    line-height: 16px;
}

.seguir {
    color: #139EF2;
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
}

.perfil-sugestao div:nth-child(1) {
    display: flex;
}